<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stilloa2_whowantstobeamillionaire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stilloa2_WhoWantstoBeAMillionaire">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Questions.Question1Activity" />
        <activity android:name=".Questions.Question2Activity" />
        <activity android:name=".Questions.Question3Activity" />
        <activity android:name=".Questions.Question4Activity" />
        <activity android:name=".Questions.Question5Activity" />
        <activity android:name=".Questions.Question6Activity" />
        <activity android:name=".Questions.Question7Activity" />
        <activity android:name=".Questions.Question8Activity" />
        <activity android:name=".Questions.Question9Activity" />
        <activity android:name=".Questions.Question10Activity" />
        <activity android:name=".Questions.Question11Activity" />
        <activity android:name=".Questions.Question12Activity" />
        <activity android:name=".Questions.Question13Activity" />
        <activity android:name=".Questions.Question14Activity" />
        <activity android:name=".Questions.Question15Activity" />
        <activity android:name=".FailureActivity"/>
        <activity android:name=".VictoryActivity" />
    </application>
</manifest>